body{

    font-family: 'Roboto' !important;
    font-size: large !important;
}
.seleccionada {
    background-color: rosybrown !important;
}
.contenido{
    width: 75% !important;
    max-width: 80% !important;
}
.barraLateral{
    width: 25% !important;
    max-width: 20% !important;
    
}
.activo{
    display: block !important;
}
.titulo{
    text-align: center;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
}
.contenido{
    color: #000;
    margin: 0;
    padding: 0;
}
#Resumen,#Experiencia,#Formacion,#Proyectos,#Contacto{
    display: none;
}